
div .sign{
  font-size:18px;
   
 }
 div .sign:hover{
  color:white;
   
 }

   .footer{
       margin-top:38%;
       color:blue;
      text-align: center;
   }
   /*
   //password or checkbox
   
    .group{
      margin-top: -10px;
       margin-left:160px;
   }
     .group1 ,#showhide{
	color:white;
    font-size: 13px;
   
}
 */
