@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
    /* 'Lucida'; */
   
}
html{
    scroll-behavior: smooth;
}
body{
    transition: .5s;
 background: var(--black);
 color: var(--white);    
}
:root{

    
    --black:#000;
    --black1:rgba(0,0,0,.9);
    --black2:rgba(0,0,0,.8);
    --black3:rgba(0,0,0,.7);

    --black4:rgba(0,0,0,.6);
    --black5:rgba(0,0,0,.5);
    --black6:rgba(0,0,0,.4);

    --white:#fff;
    --white1:rgba(255,255,255,.7);
    --white2:rgba(255,255,255,.5);
    --white3:rgba(255,255,255,.7);
    --white4:rgba(255,255,255,.6);
    --white5:rgba(255,255,255,.5);
    --white6:rgba(255,255,255,.4);
    
    --lightgray:rgba(255,255,255, .7);
    --lightblack:rgba(0, 0, 0, .05);
    --middlegray:rgba(255,255,255, .8);
    --lightmiddlegray: rgba(255,255,255, .6);
    --gray:#555;
}

/* 
.navbar#navbar.active {
    filter: blur(5px);
    pointer-events: none;
        user-select: none;
} */


ion-icon{
    position:relative;
     left: 5rem;
    top: .8rem;
    /* background-color: #fff; */
    /* height: 10px ; */
    /* width: 100px; */
    /* z-index: 101; */
    
    color: var(--white);
}
/* .dark ion-icon::after{
    content: '';
    color:var(--white);
} */


.navbar ul li .darktheme{
     position: absolute; 
    right: 200px;
    cursor: pointer;
    
}
body.dark  {

    transition: .5s;
    --white1:rgba(0,0,0,.9);
    --white2:rgba(0,0,0,.8);
    --white3:rgba(0,0,0,.7);
    --white4:rgba(0,0,0,.6);
    --white5:rgba(0,0,0,.5);
    --white6:rgba(0,0,0,.4);
    --white7:rgba(0,0,0,.2);

    --black: #fff;
    --black1:rgba(255,255,255,.9);
    --black2:rgba(255,255,255,.5);
    --black2:rgba(255,255,255,.8);
    --black3:rgba(255,255,255,.7);
    --black4:rgba(255,255,255,.6);
    --black5:rgba(255,255,255,.5);
    --black6:rgba(255,255,255,.4);
    --black7:rgba(255,255,255,.2);
    --white: black;
    --gray:rgba(255,255,255,.6);
    --gray:#555;
    --lightgray:black;
    --lightblack:rgba(0, 0, 0, .8);
    --middlegray:rgba(0,0,0, .7);
    --lightmiddlegray: rgba(0,0,0,.6);
    /* --middleblack:rgba(0, 0, 0, .07); */
}

.navbar {
    position: fixed;
    /* top: 1; */
    width: 100%;
    z-index: 100;
    /* font-size: 18px; */
    height: 3rem;
    background-color:var(--black);
    box-shadow: var(--white2) 0 -2px 10px 0;
    transition: .7s;
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--white1);
}
/* 
.navbar ul {
    position:absolute;
    right:700px;

} */

.navbar ul a{
    color: var(--black2);
    /* pointer-events: none; */
}

.navbar .navbar-nav .nav-item a:hover {
    
    color: var(--white1);
    font-weight: 500;
    border-bottom: 2px solid var(--white);

}

.navbar .logo video{
    margin-top: -1rem;
    text-transform: uppercase;
    font-weight: bold;
    /* height: 50px; */

}

.menu_dot{
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    
}
.navbar ul {list-style: none;
}
/* navbar close btn */
 .navbar .close{
     margin-top: 3px;
     background: var(--white1) ;
     border-radius: 50%;
     display: none;
 }
 .logout a{
    display: none;        
    }

/* media query */
@media  screen and (min-width:1025px) {
    .menu_dot,.logout{
    display: none;        
    }
}
@media screen and (max-width:768px) and (min-width:468px){
    .navbar .navbar-nav .darktheme{
        position: relative;
        left: -5rem;
    }
    .navbar .navbar-nav #icon:hover{
        padding: 0 5px 5px;
        border-bottom: 2px solid var(--white);
    }
    .navbar .navbar-nav ion-icon:hover{
        padding: 0 5px 5px;
        border-bottom: 2px solid var(--white);
    }
    /*menu  close btn1  */
    .navbar .close{
        display: block;
        position: absolute;
        top: 0;
        left: .5rem;
        cursor: pointer;
    }
    /* menu open btn1 */
    .menu_dot{
        top: 5px;
        font-size: 25px;
    }
    
    .navbar ul .logo{
        position: relative;
        top: -.1rem;
    }
    .navbar .logo{
        position: absolute;
        left: 100%;
        top: 1rem;
        font-size:1.1rem;
    }
    .navbar-nav {
       position: absolute;
       top: -.1rem;
       left: -100%;
       height: 100vh;
       width: 50%;
       transition:all .5s ease-in-out;
       background: var(--black);
       display: flex;
       justify-content: center;
       align-items: center;
        display: inline-block;
    }
    .navbar-nav li{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #header{
        width: 100%;
        background-repeat: no-repeat;
    }

    /* center text title */
    .title {
        font-size:60%;
    }
    
    section h1{
        padding: 10px;
        font-size: 20px;
        font-weight: lighter;
    }
    /* footer */
    footer{
        padding: 100px 100px;
    }
    /* contact-us heading */
    .contact-us h1{
        font-size:210%;
    }
    .follow-us h4, .location h4 , .opening-time h4{
        font-size:210%;
    }
    /* copyright line */
    .copyright{
        font-size:100%;
        padding:0;
    }
}

/* prelaoder */
#preloader{
    position: fixed;
    top: 0;
    background:  var(--black) url(loading.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    background-size: 5%;
    z-index: 110;
}

/* img main screen */
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(3.jpg);
    background-size: 250%;
    background-position: center;
    background-attachment: fixed;
}
/* center text title */
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    z-index: 100;
    color:#fff;
    font-size: 1000%;
    text-shadow: 10px 10px 20px 5px var(--black);
}

/* post btn1 */
 #postbtn1 {
    position: relative;
    top: 1rem;
    left: 17rem;
    z-index: 100;
    font-size: 20px;
    height: 3rem;
    width: 50%;
    background: red;
    /* border: 2px inset yellow; */
    opacity: .6;
}

.buy_books 
{
    position:absolute;
    top:13.5rem;
    height: 3rem ;
    font-size: 20px;
    color: white;
    background: red;
    width: 50%;
    cursor: pointer;
    opacity: .6;
    text-decoration: none;
    text-align: center;

}
#postbtn1:hover,.buy_books:hover,#postbtn1:focus,.buy_books:focus{
    transition: .5s;
    opacity: 1;
}


/* login btn1 on */
#loginbtn{
    border: 1px inset black;
}


/* user profile logo */
.action {
    position: fixed;
    top: 0rem;
    right: 120px;
    z-index: 100;
}

.action .profile {
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    background: var(--white);
    display: visible;
    border: 1px solid var(--white);
}

.action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    border: 1px solid var(--white);
    object-fit: cover;
}

.action .menu {
    position: absolute;
    top: 14rem;
    right: -10px;
    width: 200px;   
    background: var(--black);
    color: var(--white2);
    box-sizing: 0 5px 20px var(--middlegray);
    border-radius: 15px;
    border: 1px solid var(--white);
    transition: .5s;
    visibility: hidden;
    z-index: -100;
    opacity: 0;
    /* background: rgba(255,255,255,.2); */
    backdrop-filter:blur(10px);
    padding: 50px 30px;

}

.toggle.menu {
    z-index: 1;
    top: 6rem;
    opacity: 1;
    transition: .5s;
    visibility: visible;
}

.action .menu::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -.6rem;
    z-index: -1;
    transition: .5s;
    right: 1.8rem;
    background: var(--black);
    border-radius: 10%;
    transform: rotate(50deg);
    border-left: 1px solid var(--white);
    border-top: 1px solid var(--white);
}

/* 
.action .menu::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -.6rem;
    right: 3rem;
    z-index: -1;
    transition: .5s;
    background: var(--black);
    border-radius: 10%;
    transform: rotate(50deg);
    border-left: 1px solid var(--white);
    border-top: 1px solid var(--white);
    
} */

.action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    color: var(--white1);
    font-weight: 500;
    line-height: 1.1rem;
}

.action .menu h3 span {
    font-size: 12px;
    color: rgb(204, 174, 174);
}

.action .menu ul li {
    list-style: none;
    padding: 10px 0;

    border-top: .5px solid var(--white6);
    display: flex;
    align-items: center;
}

.action .menu ul li img {
    max-width: 20px;
    margin-right: 10px;
    opacity: .5;
    transition: .5s;
}

.action .menu ul li:hover img {
    opacity: 1;
}
.action .menu ul li a:hover {
    color: var(--white1);
}
.action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--white2);
    font-weight: 500;
}

.a{
    background-image: url(4.jpg);
}

#section {
    background:var(--black);
    color:var(--white);
    /* padding: 50px 0 0 20px; */
}
section p{
    padding-left: 600px;
}
/* ######### contact us  */
#contact h1{
    text-align: center;
    font-weight:500 ;
    color:var(--lightgray);
    color: var(--white);
}
#contact hr{
    height: 1px;
    margin-left: 40%;
    width: 20%;
    background: red;
}
.contact-us{
    background-color: var(--black);
    padding: 100px;
    outline: none;
}
.contact-us form{
    padding: 100px;
}
.contact-us input{
    width: 50%;
    background:var(--black);
    color: var(--white);
}
.contact-us input:focus{
    background:var(--black);
    color:var(--white);
}
.contact-us input[type="submit"]
{
    /* position: absolute; */
    background:linear-gradient(45deg,transparent,red, red);
    color:var(--white);
    font-size:1.2rem;
    text-align: center;
    border: none;
    /* width: 45%; */
    
}

#theme {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-x: hidden;
}
#theme h1 {
    position: absoulte;
    text-align: center;
    font-size: 6rem;
    z-index: 1;
     color:var(--white);
}
.video {
    position: absoulte;
    top: 0%;
    left: 0%;
    width: 100%;
}
.overlay {
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}

/* paper dropdown list */
li ul {

    display: none;
}

li:hover>ul {
    display: block;
}

li ul li {
    /* border-radius:10px ; */
    padding: 5px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .7);
     color:var(--white);
    border: 2px solid var(--black);
    list-style: none;
}

li ul li a {
    color: var(--white);
    text-decoration: none;
}

li ul li a:hover {
    z-index: 1;
    padding: 5px 5px;
    text-decoration: none;
     color:var(--white);
    text-decoration: none;
    transition: .4s;
    border-left: 2px solid var(--white);
}

li ul {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
    top: 100%;
}



.logo img {
    position: absolute;
    left: 1rem;
    width: 100px;
    height: auto;
}


.main {
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;
    animation: ball 10s ease-in-out infinite;
    background-size: cover;

}

@keyframes ball {

    0%,
    100% {
        background-image: url(1.jpg);
    }

    25% {
        background-image: url(2.jpg);
    }

    50% {
        background-image: url(3.jpg);
    }

    75% {
        background-image: url(4.jpg);
    }
}


input {
        
    color:var(--white);
}



.button {
    position: absolute;
    top: 65%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.btn1 {
    border: 1px solid var(--white);
    padding: 10px 30px;
    color:var(--white);
    text-decoration: none;
    transition: 0.6s ease;
}

.btn1:hover {
    background-color: var(--white);
    color:var(--black);
}


.content {
    background: red;
    height: 10rem;
    width: 100vw;
}

/* footer */
 
footer{

    /* position: relative; */
    background: var(--black6);
    padding:50px 100px;

}
footer .follow-us{
    color:var(--middlegray);
    font-weight: 900;
    
}

footer .opening-time{
    /* position: absolute; */
    /* right: 200px; */
    /* top: 20px; */
    color: var(--middlegray);  
}
footer .location{
    /* position: absolute; */
    /* left: 40%; */
    /* top: 2rem; */
 color:var(--middlegray);  

}
footer .location p,.opening-time p{
    color:var(--lightmiddlegray);  

}
footer .copyright{
    position: relative;
    bottom: -1rem;
    font-weight: 400;
    stroke-width: 50px;
    color:var(--lightgray);
} 
.card{
    background: red;
    color:var(--white);
}